<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomDiscordRPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CustomDiscordRPC.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="Details" serializeAs="String">
                <value />
            </setting>
            <setting name="Status" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LargeImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LargeImageText" serializeAs="String">
                <value />
            </setting>
            <setting name="SmallImageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmallImageText" serializeAs="String">
                <value />
            </setting>
        </CustomDiscordRPC.Properties.Settings>
    </userSettings>
</configuration>